{% extends 'base.html' %}
{% block content %}
     <section class="mt-5 d-flex justify-content-center">
        <div class="card p-4 col-6">
            
            <h2 class="text-center" style="color: rgb(35, 197, 27);">Añade tu Receta</h2>
            <form action="{{url_for('saveRecipe')}}" method="POST">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingresa el nombre de la receta">
                </div>
                <div class="mb-3">
                    <label for="ingredientes" class="form-label">Ingredientes</label>
                    <textarea class="form-control" id="ingredientes" name="ingredientes" rows="3" placeholder="Ingresa los Ingredientes"></textarea>
                </div>
                <div class="mb-3">
                    <label for="preparacion" class="form-label">Preparación</label>
                    <textarea class="form-control" id="preparacion" name="preparacion" rows="3" placeholder="Indicaciones de Preparación"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>

     </section>

{% endblock %}

{% block links %}
{% endblock %}
