<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Recetas</title>
    <link rel="stylesheet" href="recetario.css"> <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="hogar">
            <a href="index.html"><i class="bi bi-egg-fried" alt="home"></i></a><!-- Icono de huevo -->
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="recetario.html">Mi recetario</a></li>
                <li><a href="add_receta.html">Nueva Receta</a></li>
            </ul>
        </nav>
    </header>

<!-- Mi recetario  -->
    <div class="mis-recetas">
        <div class="recipe-card" style="width: 15rem;">
            <div class="recipe-card-body">
                <h5 class="recipe-card-title">Pancakes</h5>
                <p class="recipe-card-text">Los panqueques son una delicia que se puede comer con dulce o con salado a cualquier hora del día.</p>
            </div>
            <div class="recipe-directions">
                <p class="recipe-ingredientes">Ingredientes: 1 Huevo, 1 taza de Harina, 3/4 taza de leche</p>
                <p class="recipe-preparacion">Preparación: Agregar todo en una taza y revolver</p>
            </div>
        </div>
    
        <div class="mis-recetas">
            <div class="recipe-card" style="width: 15rem;">
                <div class="recipe-card-body">
                    <h5 class="recipe-card-title">Bocadillos de pepino</h5>
                    <p class="recipe-card-text">Snacks fáciles y rápidos para cualquier momento del día</p>
                </div>
                <div class="recipe-directions">
                    <p class="recipe-ingredientes">Ingredientes: 1/2 Pepino, 2 cucharadas de queso crema, sal y pimienta al gusto</p>
                    <p class="recipe-preparacion">Preparación: Lavar y cortar el pepino, agregar queso crema, sazonar</p>
                </div>
            </div>
    
            <div class="mis-recetas">
                <div class="recipe-card" style="width: 15rem;">
                    <div class="recipe-card-body">
                        <h5 class="recipe-card-title">Tortillas</h5>
                        <p class="recipe-card-text">Perfectas para acompañar un almuerzo típico o un café</p>
                    </div>
                    <div class="recipe-directions">
                        <p class="recipe-ingredientes">Ingredientes: Agua, masa, queso, natilla, sal</p>
                        <p class="recipe-preparacion">Preparación: Revolver todos los ingredientes, amasar, poner en el sartén hasta dorar</p>
                    </div>
                </div>


                
            <div class="mis-recetas">
                <div class="recipe-card" style="width: 15rem;">
                    <div class="recipe-card-body">
                        <h5 class="recipe-card-title">Cantones</h5>
                        <p class="recipe-card-text">Un platillo perfecto para el almuerzo</p>
                    </div>
                    <div class="recipe-directions">
                        <p class="recipe-ingredientes">Ingredientes: Arroz, cebolla, sal, mezcla de cantones</p>
                        <p class="recipe-preparacion">Preparación: Hacer el arroz, añadir sal, cebolla, agregar la mezcla de cantones</p>
                    </div>
                </div>
</div>

    <!-- Sección "Recetas Populares" -->
    <div class="recetas-populares">
        <h2 class="recetas-title">Recetas Populares</h2>
        <div class="recetas-content">
            <div class="recetas-text">
                <div class="card">
                    <a href="pinto.html">
                        <img src="https://www.bodhisurfyoga.com/wp-content/uploads/2020/04/gallo-pinto-recipe.jpg" alt="Gallo Pinto" class="card-img">
                        <h4><b>Pinto</b> <span class="arrow"><i class="bi bi-arrow-right"></i></span></h4>
                    </a>
                </div>
            </div>

            <div class="recetas-text">
                <div class="card">
                    <a href="pan_casero.html">
                        <img src="https://img-global.cpcdn.com/recipes/a73405454fc00d8b/680x482cq70/pan-casero-dulce-de-levadura-foto-principal.jpg" alt="Pan Casero" class="card-img">
                        <h4><b>Pan Casero de mamá</b> <span class="arrow"><i class="bi bi-arrow-right"></i></span></h4>
                    </a>
                </div>
            </div>

            <div class="recetas-text">
                <div class="card">
                    <a href="tortilla.html">
                        <img src="https://donarepa.cr/wp-content/uploads/2018/05/Receta-Tortilla.jpg" alt="Tortilla Casera" class="card-img">
                        <h4><b>Tortilla Casera</b> <span class="arrow"><i class="bi bi-arrow-right"></i></span></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
