/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

/* Establecer la imagen de fondo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilo del navbar */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end; /* Mueve elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
}

.navbar .hogar i {
    font-size: 30px;
    color: green;
    margin-left: auto;
    margin-right: 30px;
    padding: 10px; /* Espacio adicional alrededor del icono */
    transition: all 0.3s;
}

.navbar .hogar i:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
    color: #b2ff92; /* Cambia el color al hacer hover */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #3abd02;
    font-weight: bold;
}

.nav-links a:hover {
    color: #b2ff92; /* Color de hover */
}

/* Estilo mi Recetario  */
.mis-recetas {
    margin-top: 10px; /* Ajuste del margen superior */
   
}

.recipe-card-title { 
    text-align: center;
}

.recipe-card {
    border: 1px solid black; /* Añadir borde a la tarjeta */
    padding: 15px; /* Añadir padding dentro de la tarjeta */
    margin-bottom: 10px; /* Añadir espacio entre tarjetas */
    background-color: #f9f9f9; /* Fondo más suave para la tarjeta */

}

.recipe-card-body {
    margin-bottom: 15px; /* Separación entre los elementos del cuerpo */
}

.recipe-directions {
    padding: 10px;
    border-top: 1px solid #ddd; /* Separador entre el cuerpo y las direcciones */
    margin-bottom: 15px;
}

.recipe-ingredientes {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Espacio entre los ingredientes y la preparación */
    text-align: left;
}

.recipe-preparacion {
    padding: 5px;
    font-size: 16px;
    margin-top: 10px; /* Separación superior */
    text-align: left;
}


/* Estilo de las recetas populares */
.recetas-populares {
    margin-top: 100px; /* Espacio para el navbar */
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 80%;
}

.recetas-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #3abd02;
    letter-spacing: 2px;
}

/* Contenedor de recetas */
.recetas-content {
    display: flex; /* Establece el contenedor como flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
    justify-content: space-between; /* Distribuye las tarjetas uniformemente con espacio entre ellas */
  }

/* Contenedor de la información de las tarjetas */
.recetas-text {
    width: 30%; /* Ajusta el ancho según sea necesario */
    margin: 10px; 
}

/* Estilo de las tarjetas */
.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* Bordes redondeados */
    background-color: #faff88;
    text-align: center;
    color: green;
    padding: 0px; /* Agregar padding para centrar el contenido */
}

.card img {
    max-width: 100%; /* Imagen ocupa todo el ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
    object-fit: contain;
}

/* Quitar subrayado y color azul del enlace */
.card a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del contenedor */
}

.card h4 {
    margin: 15px 0; /* Aumentar margen superior e inferior */
    text-align: center; /* Centra el texto */
}

/* Estilo de la flecha */
.arrow {
    display: inline-block; /* Necesario para aplicar transformaciones */
    transition: transform 0.3s; /* Transición suave */
}

/* Movimiento de la flecha al pasar el cursor */
.card:hover .arrow {
    transform: translateX(5px); /* Desplaza la flecha 5 píxeles hacia la derecha */
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}
